@charset "UTF-8";
@font-face {
    font-family: 'Principal';
    src: url(../Fontes/Nunito-VariableFont_wght.ttf) format(truetype), url(../Fontes/Nunito-Italic-VariableFont_wght.ttf) format(truetype);
}
* {
    margin: 0px;
    padding: 0px;
    
}
/*Cores usadas:#B5C3C3,#316D8C, #262837  */
body {
    background-color: #B5C3C3;
    width: 100vw;
    height: 100vh;
}
main {
    height: 100%;
    position: relative;
}
section {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 2px solid #316D8C;
    border-radius: 20px;
    width: 100%;
    max-width: 340px;
    
}
div#Fot {
    width: 100%;
    height: 100%;
    height: 280px;
    background-image: url(../Imagens/jack_jiao-modern-4428919_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}
h1#Titulo {
    font: normal bold 2em 'Principal', Arial, Helvetica, sans-serif ;
    color: #262837;
    padding: 20px 10px 0px 10px;

}
p#subt {
    font: normal 1.2em 'Principal', Arial, Helvetica, sans-serif ;
    color: #262837;
    margin-top: 10px;
    padding: 0px;
}
.camp {
     display: inline-block;
     background-color: #316D8C;
     margin: 10px 0px;
     width: 100%;
     max-width: 250px;
     
}
p.espForm {
    padding-top: 10px;
}
p.espForm2 {
    padding-top: 13px;
}
p.espMaior {
    padding-top: 23px;
}
input[type=submit] {
    font: normal 1em 'Principal', Arial, Helvetica, sans-serif ;
}
input[type=reset] {
    font: normal 1em 'Principal', Arial, Helvetica, sans-serif ;
}
input.subm {
    width: 100%;
    height: 100%;
    max-width: 200px;
    padding: 8px;
}
form {
    margin-top: 31px;
    padding-bottom: 23px;
}
input.pforms {
    width: 100%;
    height: 100%;
    height: 26px;
    max-width: 201px;
    border: 2px solid #316D8C;
    border-radius: 0px 6px 6px 0px;
    font-size: 17px;
}
.material-symbols-outlined {
    font-size: 1.93em;
    color: #262837;
    border-radius: 6px 0px 0px 6px;
}